<!--<h1 id="tableLabel">Shouts</h1>

<p *ngIf="!shouts?.length"><em>Loading...</em></p>

<div class="main" ng-app="shoutyApp" ng-controller="ShoutController">

  <h1>Shoutbox demo</h1>

  <p>
    <textarea rows="1" placeholder="Enter your name here..." ng-model="user"></textarea>
  </p>
  <p>
    <textarea rows="5" placeholder="Enter your shout here..." ng-model="message"></textarea>
  </p>

  <p>
    <button ng-click="shout()">Shout</button>
  </p>

  <ul>
    <li ng-repeat="shout in shouts | limitTo:currentSize">
      <p><strong>{{ shout.user }}</strong></p>
      <p>{{ shout.message }}</p>
    </li>
    <button ng-show="shouts.length > currentSize" ng-click="showMore()">Show more</button>
  </ul>

</div>-->
